.divider {
    display: inline-block;
    height: 50px;          /* match logo height */
    border-left: 2px solid white;
    margin: 8px;         /* small spacing */
}

.image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}